@import "../../../Variables/Variables.module.scss";

.wrapper {
    position: fixed;
    bottom: 5px;
    transition: right $transition;
    width: 45px;
    height: 45px;
    background: $gray-background;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    pointer-events: none;
    right: -45px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 10;
    &.visible {
        opacity: 1;
        pointer-events: all;
        right: 5px;
    }
}
@media screen and (max-width: 800px) {
    .wrapper {
        width: 40px;
        height: 40px;
        right: -40px;

    }
}